header{
    display: flex ;
    flex-direction: row;
    background-color: white;
    margin-bottom: 20px;
    margin-top: 0px;
    font-family:Open sans;
    font-weight: bold;
    padding-left: 50px;
    padding-bottom: 1.5rem;
    padding-top: 1rem;
    color: #5d7eb3;
    font-family:Open sans;
}
header h2{
    margin: 0px;
}
h2 span{
    color: #1f58b4;
}
.help{
    margin-left: auto;
    padding-right: 2rem;
    font-size: small;
}
main{
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    text-align: center;
    border: #4d6997;
    min-height: 50vh;
}
main div{
    display: flex;
    max-height: 700px;
    max-width: fit-content;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 4px 10px -1px rgba(0, 0, 0, 0.1);
}
main div .one{
    flex-direction: column;
    padding:20px;
    background-color: aqua;
    font-weight: normal;
    color: black ;
    border-radius: 0px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    text-align: left;
    max-width : 200px;
}
main div .one div{
    box-shadow: none;
    text-align: left;
    flex-direction: column;
}
main div .one p{
    font-size: small;
    color: #1f58b4;
}
.advantages{
    margin: 0px;
    padding-left: 1rem;
    margin-top: 0px;
}
.advantages p{
    margin: 0px;
}
.adTitle{
    font-weight: bold;
    margin: 0px;
    padding-top: .5rem;
}

.two{
    flex-direction: column;
    background-color:white;
    border-radius: 0px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    color: #5d7eb3;    
    font-weight:normal;
    padding:20px;
    text-align: left;
}
.two h3{
    color: black;
    margin-bottom: 0px;
}
.two p{
    font-size: small;
    margin-top: .2rem;
}
.two form{
    display: block;
    font-weight: bold;
}
.two form div{
    text-align: left;
    box-shadow: none;
    margin-bottom: 5px;
    box-shadow: none;
    flex-direction: column;
}
.two form div div{
    font-weight: lighter;
}
input{
    background-color: #dfe9f8;
    border-radius: 5px;
    padding: 10px;
    padding-left: 1rem;
    padding-right: 1rem;
    border: 2px solid #9fbbe7;
}
input:hover{
    background-color:aliceblue;
}
button{
    background-color: blueviolet;
    color: white;
    border-radius: 8px;
    padding: 10px;
    padding-left: 7rem;
    padding-right: 7rem;
    margin: auto;
    border: none;
    margin-top: 5px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}
button:hover{
    background-color: white;
    color: blueviolet;
    border-radius: 10px;
}
.login, .or{
    padding: 0px;
    box-shadow: none;
    margin: auto;
}
.or div{
    box-shadow: none;
}
body{
    font-family:Open sans;
    padding:0px;
    margin: 0;
    background-color:aliceblue;
}
main{
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    text-align: center;
    border: #4d6997;
    min-height: 50vh;
}
main div{
    display: flex;
    max-height: 1000px;
    max-width: fit-content;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 4px 10px -1px rgba(0, 0, 0, 0.1);
}
a:hover{
    text-decoration:none;
    color:  olive;
}
footer{
    margin-top: 2rem;
    padding: .5rem;
    text-align: center;
    font-size: small;
    font-family:Open sans;
    background-color: white;
    color: #1f58b4;
}