.medicineList{
    background-color:#5d7eb3;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    padding: 2rem;
    border-radius: 15px;
    max-width: 800px;
}
.medList{
    display: flex;
    flex-direction: column;
}
.medicine-card {
    background: white;
    border-radius: 8px;
    padding: 15px;
    margin: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.updateMedStock{
    display: flex;
    flex-direction: row;
}
.medTaken-btn{
    background-color: greenyellow;
    color: black;
}
.refill-btn{
    background-color: green;
    color: beige;
}