header{
    background-color: white;
    margin-bottom: 20px;
    margin-top: 0px;
    font-family:Open sans;
    font-weight: bold;
    padding-left: 50px;
    padding-bottom: 1.5rem;
    padding-top: 1rem;
    color: #5d7eb3;
    font-family:Open sans;
}
body{
    font-family:Open sans;
    padding:0px;
    margin: 0;
    background-color:aliceblue;
}
header h2{
    margin: 0px;
}
h3{
    color: blueviolet;
}
p{
    margin-top: 0px;
    padding-top: 0px;
}
.content{
    display: flex;
    flex-direction: row;
}
main{
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    text-align: center;
    border: #4d6997;
    min-height: 50vh;
    margin-left: 250px;
}
main div{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.sidebar{
    background-color: aliceblue;
    color: #4d6997;
    width: 250px;
    height: 100%;
    margin-top: 2rem;
    gap: 1.5rem;
    display: block;
}
.sidebar ul,a{
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    color:#4d6997;
    text-decoration: none;
    gap: 1.5rem;
    border-radius: 15px;
}
.sidebar a:hover{
    background-color: #4d6997;
    color: aliceblue;
}
li{
    border-radius: 15px;
    padding-left: 1rem;
}
li:hover{
    background-color: #4d6997;
    color : aqua;
}
.userInfo{
    flex-direction: column;
    gap:0px;
    padding:20px;
    font-weight: normal;
    border-radius: 15px;
    text-align: left;
    max-width :150px;
}
.medInfo{
    background-color:#5d7eb3;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    padding: 2rem;
    border-radius: 15px;
    max-width: 800px;
}
.medList{
    display: flex;
    flex-direction: column;
}
.medicine-card {
    background: white;
    border-radius: 8px;
    padding: 15px;
    margin: 10px 0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}