header{
    background-color: white;
    margin-bottom: 20px;
    margin-top: 0px;
    font-family:Open sans;
    font-weight: bold;
    padding-left: 50px;
    padding-bottom: 1.5rem;
    padding-top: 1rem;
    color: #5d7eb3;
    font-family:Open sans;
}
body{
    font-family:Open sans;
    padding:0px;
    margin: 0;
    background-color:aliceblue;
}
header h2{
    margin: 0px;
}
h3{
    color: blueviolet;
}
main{
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    text-align: center;
    border: #4d6997;
    min-height: 50vh;
}
main div{
    display: flex;
    max-height: 700px;
    max-width: fit-content;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 4px 10px -1px rgba(0, 0, 0, 0.1);
}
main div .one{
    flex-direction: column;
    padding:20px;
    background-color: aqua;
    font-weight: normal;
    color: #4d6997 ;
    border-radius: 0px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    text-align: left;
    max-width :150px;
}
main div .one div{
    box-shadow: none;
    text-align: left;
}
main div .one p{
    font-size: small;
}
.motto{
    margin-top: auto;
    font-style: italic;
}
.two{
    flex-direction: column;
    background-color:white;
    border-radius: 0px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    color: #5d7eb3;    
    font-weight:normal;
    padding:20px;
    text-align: left;
}
.two h3{
    color: black;
    margin-bottom: 0px;
}
.two p{
    font-size: small;
    margin-top: .2rem;
}
.two form{
    display: block;
    font-weight: bold;
}
.two form div{
    text-align: left;
    box-shadow: none;
    margin-bottom: 5px;
    box-shadow: none;
}
input{
    background-color: #dfe9f8;
    border-radius: 5px;
    padding: 10px;
    padding-left: 1rem;
    padding-right: 1rem;
    border: 2px solid #9fbbe7;
}
input:hover{
    background-color:aliceblue;
}
button{
    background-color: blueviolet;
    color: white;
    border-radius: 8px;
    padding: 10px;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    margin: auto;
    border: none;
    margin-top: 5px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}
button:hover{
    background-color: white;
    color: blueviolet;
    border-radius: 10px;
}
a:hover{
    text-decoration:none;
    color:  olive;
}
.google{
    border-radius: 5px;
    background-color: white;
    text-align: center;
    padding: auto;
    margin: auto;
    margin-top: .5rem;
}
.signup, .or{
    padding: 0px;
    box-shadow: none;
    margin: auto;
}
.or div{
    box-shadow: none;
}
.googlebutton{
    background-color: white;
    color: blueviolet;
    border-radius: 5px;
    border: 1px solid blueviolet;
    margin: auto;
    padding: 5px;
    padding-left: 2rem;
    padding-right: 2rem;
    box-shadow: none;
}
.googlebutton:hover{
    background-color: blueviolet;
    color: white;
    border-radius: 5px;
}
footer{
    margin-top: 2rem;
    padding: .5rem;
    text-align: center;
    font-size: small;
    font-family:Open sans;
    background-color: white;
    color: #1f58b4;
}